script#app-settings(type="text/x-template")
  div
    app-content-title(title="Settings")

    div(v-if="settings")
      .form-group.mt-4
        label Kubernetes Configuration:
        .row
          .col.ml-3.alert.alert-primary

            .form-row
              .col-2
                label Kubernetes Provider:

              .col-2
                select.form-control(v-model="settings.kubernetes.provider")
                  option(value="gcloud") Google Cloud

              // FIXME! simplify the layout
            .form-row
              .col-2
                label GCloud Project:
              .col-2
                input.form-control(v-model="settings.kubernetes.gcloud_project")

            .form-row
              .col-2
                label GKE Cluster:

              .col-2
                input.form-control(v-model="settings.kubernetes.gcloud_gke_cluster")

            .form-row
              .col-2
                label Autoscale Nodes:

              .col-2
                select.form-control(v-model="settings.kubernetes.autoscale_nodes")
                  option(v-bind:value="false") Disabled
                  option(v-bind:value="true") Enabled

            .form-row(v-if="settings.kubernetes.autoscale_nodes")
              .col-2
                label Max. Parallel Runners:

              .col-2
                input.form-control(v-model="settings.kubernetes.max_nodes")

    | TODO: not implemented yet
    pre.
       Kujoman > Settings [Static At First]

       Runners:
        - Number of pod runners  [1]

       Job Queue:
        - Type:               [GCloud PubSub]

        - [GCloud Project]    [GCloud PubSub Topic]
        -                     [GCloud PubSub Subscriber]

       Database:
        - Type:            [GCloud Datastore]
        - EntityPrefix:    [kujoman]
        - Credentials:     [--]

      --------------------------------------------------------------------------------
      NOTE: The initial configuration of kujoman can be static, passed as ENV vars on the deployment
      or some secret or similar... view only (or even inexistent, is a nice to have, but not mandatory)
      --------------------------------------------------------------------------------



script.
  const AppSettings = Vue.component ('app-settings', {
    template : '#app-settings',
    data: function () {
      return {
        settings : false
      }
    },
    created: function() {
      this.fetchAllJobs();
    },
    methods : {
      fetchAllJobs : function () {
        const self = this;
        fetch('/api/settings').then (function (response) {
          // (response.status === 200)
          response.json().then (function (data) {
            self.settings = data;
          })
        });
      }
    }
  });
