script#app-content(type="text/x-template")
  main.col-md-10.ml-sm-auto.col-lg-10.pt-3.px-4(role='main')
    router-view(@refresh-jobs="refreshJobs")

script.
  Vue.component ('app-content', {
    template : '#app-content',
    methods: {
      refreshJobs (page) {
        this.$emit ('refresh-jobs', page)
      }
    }
  })
