script#app-dashboard(type="text/x-template")
  div
    app-content-title(title="Dashboard")

    h3 Metrics
    .table-responsive
      table.table.table-striped.table-sm
        thead
          tr
            th Job Name
            th # Waiting
            th # Running
            th # Stopped
            th # Failed
            th # Successful

        tbody
          tr(v-for="job in jobs")
            td {{ job.name }}
            td {{ job.stats.waiting }}
            td {{ job.stats.running }}
            td {{ job.stats.stopped }}
            td {{ job.stats.failed }}
            td {{ job.stats.successful }}

script.
  const AppDashboard = Vue.component ('app-dashboard', {
    template : '#app-dashboard',
    data: function () {
      return {
        jobs : []
      }
    },
    created: function() {
      this.fetchAllJobs();
    },
    methods : {
      fetchAllJobs : function () {
        const self = this;
        fetch('/api/jobs/all').then (function (response) {
          // (response.status === 200)
          response.json().then (function (data) {
            Vue.set (self, 'jobs', data);
          })
        });
      }
    }
  });
