script#job-create(type="text/x-template")
  div
    app-content-title(title="Create Job")

    job-upsert(
      :is_update="false",
      :job_name="job_name",
      @update-job-name="updateJobName"

      :job_description="job_description",
      @update-job-description="updateJobDescription"

      :job_template="job_template",
      @update-job-template="updateJobTemplate"

      :job_variables="job_variables",
      @update-job-variables="updateJobVariables"

      @reset-defaults="resetJobDefaults"
      @refresh-jobs="refreshJobs"
    )

script.
  const g_defaultJobTemplate =
    `apiVersion: batch/v1
    kind: Job
    metadata:
      name: {NAME}
    spec:
      template:
        spec:
          containers:
          - name: {NAME}
            image: {IMAGE}
            imagePullPolicy: Always
            command: ["perl",  "-wle", "print {NAME}"]
          restartPolicy: Never
      backoffLimit: 6`;

  // simple way to preserve app status
  g_store.job_create = {
    job_name : '',
    job_description : '',
    job_template : g_defaultJobTemplate,
    job_variables : []
  };

  const JobCreateComponent = Vue.component ('job-create', {
    template : '#job-create',
    data : function () {
      return g_store.job_create;
    },
    methods : {
      // called from children
      updateJobName (val) { this.job_name = val; },
      updateJobDescription (val) { this.job_description = val; },
      updateJobTemplate (val) { this.job_template = val; },
      updateJobVariables (val) { this.job_variables = val; },

      resetJobDefaults () {
        g_store.job_create.job_name = '';
        g_store.job_create.job_description = '';
        g_store.job_create.job_template = g_defaultJobTemplate;
        g_store.job_create.job_variables = [];
      },
      refreshJobs (page) {
        this.$emit ('refresh-jobs', page)
      }
    }
  });
