script#job-create(type="text/x-template")
  div
    app-content-title(title="Create Job")

    div

      | create my job!!! {{ $route.params.job_name }}

//
  - VAR1 (Date Range)   Start Date: [2018-01-01]  End Date: [2018-01-04]
  - VAR2 (Item List)    [a, b, c, d]
  - VAR3 (Fixed Value)  [this is the value]

  >> Note: 104 jobs will be created when expanding ranges

  [Create Job]

  >> API: [POST /api/jobname/create-job]



script.
  const JobCreateComponent = Vue.component ('job-create', {
    template : '#job-create',
    data : function () {
      return {
        template_focused : false,
        undefined_template_variables : ['MYVAR1', 'MYVAR2'],
        job : false,
      };
    },
    created : function () {
      this.fetchJobInfo()
    },
    watch: {
      // reload data if users selects another job
      "$route.params.job_name" : function() {
        this.fetchJobInfo()
      }
    },
    methods : {
      fetchJobInfo : function () {
        const self = this;
        fetch('/api/jobs/get/' + this.$route.params.job_name).then (function (response) {
          // (response.status === 200)
          response.json().then (function (data) {
            self.job = data;
          })
        });
      }
    }
  });
