doctype html
html(lang='en')
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Kubernetes Job Manager')
    meta(name='author', content='Pau Sanchez')
    link(rel='icon', href='/favicon.ico')

    title Kujoman Dashboard

    link(href='/thirdparty/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/default.css', rel='stylesheet')
    link(href="/thirdparty/fontawesome/css/fontawesome-all.css", rel="stylesheet")

  body

    div#app
      app-header
      .container-fluid
        .row
          app-sidebar(v-bind:jobs="jobs")
          app-content(v-bind:jobs="jobs", @refresh-jobs="refreshJobs")

    //- Development!
    script(src="/thirdparty/vue/vue.js")

    //- Production!
    //-script(src="/thirdparty/vue/vue.min.js")
    script(src="/thirdparty/vue/vue-router.js")

    script.
      let g_store = {};

    include ./app-components/index.pug
    include ./job-components/index.pug

    script.
      const router = new VueRouter({
        mode: 'history',
        routes: [
          { path: '/dashboard', component: AppDashboard },
          { path: '/archived', component: AppArchived },
          { path: '/settings', component: AppSettings },
          { path: '/job/create', component: JobCreateComponent },
          { path: '/job/:job_name/overview', component: JobOverviewComponent },
          { path: '/job/:job_name/view', component: JobViewComponent },
          // TODO: { path: '/job/:job_name/history', component: JobHistoryComponent },
          { path: '/job/:job_name/run', component: JobRunComponent },
          { path: '/job/:job_name/schedule', component: JobScheduleComponent },
          { path: '/job/:job_name/configure', component: JobConfigureComponent },
        ]
      });

      const app = new Vue({
        el: '#app',
        router: router,
        data: {
          jobs : []
        },
        created: function() {
          this.fetchAllJobs();
          g_store.app = this;
        },
        methods : {
          // -------------------------------------------------------------------
          // refreshJobs
          //
          // event triggered from children to force reload all jobs and go to
          // a certain page. Useful when creating or deleting some job templates.
          // -------------------------------------------------------------------
          refreshJobs (page) {
            this.fetchAllJobs().then (() => {
              router.push (page);
            });
          },

          fetchAllJobs () {
            const self = this;
            return fetch('/api/jobs/all').then (function (response) {
              // (response.status === 200)
              response.json().then (function (data) {
                Vue.set (self, 'jobs', data);
              })
            });
          }
        }
      })
